.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    /* background-color: lightgrey; */
  }

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
    /* background-color: coral; */
}

.searchResult__heart {
    position: absolute;
    top: 10px;
    right: 2vw;
}

.searchResult__infoTop {
    width: 40vw;
}

.searchResult__infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

@media only screen and (max-width: 768px) {
    .searchResult__infoTop > p {
        margin-top: 0px;
        margin-bottom: 25px;
    }
}
  
.searchResult__infoBottom {
    display: flex;
    justify-content: space-between;
}


.searchResult__star {
    color: red;
}


.searchResult__stars {
    display: flex;
    align-items: center;
}

.searchResults__price > p {
    text-align: right;
  }

.searchResults__price {
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
}